<div class="play-list-body">
    <ul class="play-list-table-header">
        <li (click)="changeSort('name')">Titulo </li>
        <li (click)="changeSort('album')"> álbum 💿 </li>
        <li (click)="changeSort('date')"> fecha incorporación 📅 </li>
        <li><i class="uil uil-clock-eight"></i></li>
    </ul>
    <ul class="play-list-rows" *ngFor="let track of tracks |orderList:optionSort.property: optionSort.order ">
        <li class="track-name">
            <ng-container *ngTemplateOutlet="coverSection;context:{propiedad1:track}"></ng-container>
        </li>
        <li class="track-name-opacity">
            {{track.album}}
        </li>
        <li class="track-date-opacity">
            {{track.date}}
        </li>
        <li class="track-name-opacity">
            {{track.album}}
        </li>

    </ul>
</div>

<!--template del cover-->
<ng-template #coverSection let-varTrack="propiedad1">

    <div class="cover-section">
        <img appImgBroken class="cover-track" [src]="varTrack.cover" [alt]="varTrack.name">
        <div class="cover-info">
            <div class="name-track">{{varTrack.name}}</div>
            <div class="name-track-details">{{varTrack.artist.name}}</div>
        </div>
    </div>

</ng-template>
<br><br><br>